<!-- title -->
<div class="page-header">
	 <h1></i> <%= __('分类') %> </h1>
</div>

<div class="row page">

<% if (site.categories.length){ %>
	<div class="widget">
		<ul class="tag_box inline list-unstyled">
		<% site.categories.sort('name').each(function(item){ %>
			<li><a  class="btn btn-link" href="<%= item.name %>"><%= item.name %></a></li>
		<% }); %>
		</ul>
	</div>

<% } %>

</div>
