.category
  & .category_header
    padding: 10px 15px 5px
  & .category_header h1
    font-size: 170%

.category_types
  padding: 10px 15px 5px

.category_box
  overflow: hidden
  & li
    float: left

.category_link
  padding: 2px 6px
  margin: 2px
  font-size: 87.5%
  color: rgba(0,0,0,.84)

.category_archive
  padding-top: 15px

.category_archive_title
  padding-top: 25px
  padding-bottom: 10px
  font-size: 120%

.category_archive_list
  list-style-type: disc
  padding-left: 40px

.category_archive_item
  margin-bottom: 8px
